@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Library Library_Management_System</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
            </ul>

            @if (User!.Identity!.IsAuthenticated)
            {
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-controller="Auth" asp-action="Logout" class="nav-link link-body-emphasis px-2">
                            Log Out
                        </a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav">
                    <li class="nav-item">
                        <a asp-controller="Auth" asp-action="Login" class="nav-link link-body-emphasis px-2">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Auth" asp-action="Register" class="nav-link link-body-emphasis px-2">
                            Register
                        </a>
                    </li>
                </ul>
            }
        </div>
    </div>
</nav>