@* @{
    ViewData["Title"] = "LibraryHome";
}

<h1>@ViewData["Title"]</h1> *@


<div class="navbar-brand">
    <a asp-action="LibrarianBookCatalog" asp-controller="Library">Catalog</a>
    <a>History</a>
    <a>Request</a>
    <a>Sign Out</a>
    <a asp-action="UserHome" asp-controller="User">Home</a>
</div>

<h1>Welcome, User</h1>

