@* @model Library_Management_System.Views.Library.AddBook
@{
    ViewData["Title"] = "AddBook";
} *@
@model Library_Management_System.Models.AddBookView

<div class="navbar-brand">
    <a asp-action="LibrarianBookCatalog" asp-controller="Librarian">Catalog</a>
    <a>History</a>
    <a>Request</a>
    <a>Sign Out</a>
    <a asp-action="UserHome" asp-controller="Library">Home</a>
</div>

<h1>Add a New Book</h1>

<form method="Post">
    <div>
        <label class="form-group">Book Title</label>
        <input type="text" class="form-control" asp-for="Title">
    </div>
    <div>
        <label class="form-group">Author</label>
        <input type="text" class="form-control" asp-for="Author">
    </div>
    <div>
        <label class="form-group">Genre</label>
        <input type="text" class="form-control" asp-for="Genre">
    </div>
    <div>
        <label class="form-group">ISBN</label>
        <input type="text" class="form-control" asp-for="ISBN">
    </div>
    <div>
        <label class="form-group">Available Copies</label>
        <input type="number" class="form-control" asp-for="Copies">
    </div>
    <div class="mt-3">
    <button type="submit" class="btn btn-primary">Add Book</button>
    </div>
</form>